In [2]:
!module load google-cloud-sdk

In [4]:
!gcloud auth application-default set-quota-project ee-liuliuzheng1208

/bin/bash: gcloud: command not found

In [1]:
import json
import itertools
import ee
import os
from datetime import datetime, timedelta, time
import pandas as pd
import numpy as np
import time as sleeptime #otherwise interferes with datetime.time
from functools import reduce
import math

In [2]:
ee.Authenticate()

True

In [3]:
ee.Initialize(project='ee-liuliuzheng1208')

os.chdir('/gpfs/data1/oshangp/liuz/sesync')

In [4]:
os.getcwd()

'/gpfs/data1/oshangp/liuz/sesync'

In [5]:
input_folder = './data/processed/pre_weather'
output_folder = './data/processed/nldas_weather'

In [6]:
def getFiles():
    #Get list of all files that have not yet been processed
    fs = os.listdir(input_folder)
    fs = [f for f in fs if f[-3:] == 'csv']
    
    done = os.listdir(output_folder)
    
    fs = [f for f in fs if f not in done]
    
    fs.sort(reverse=True)
   
    return(fs)

In [7]:
len(getFiles())

2114

In [8]:
#Need
# specific humidity
# temperature
# pressure
# shorwave radiation
# longwave radiation
# wind u component
# wind v component

def chunker(iter, size):
    chunks = [];
    if size < 1:
        raise ValueError('Chunk size must be greater than 0.')
    for i in range(0, len(iter), size):
        chunks.append(iter[i:(i+size)])
    return chunks

In [72]:
def getDataValues(feats, img, var):
    #First, break feats into lists of lists, each with len < 4500
    feats = chunker(feats, 4500)
    
    allres = []
    for feat in feats:
        res = img.reduceRegions(ee.FeatureCollection(feat), reducer=ee.Reducer.first()).getInfo()
        allres = allres + res['features']
    
    df = pd.DataFrame([x['properties'] for x in allres])
    return(df['first'].values)

In [9]:
def getData(feats, img, var):
    #First, break feats into lists of lists, each with len < 4500
    feats = chunker(feats, 4500)
    
    allres = []
    for feat in feats:
        res = img.reduceRegions(ee.FeatureCollection(feat), reducer=ee.Reducer.first()).getInfo()
        allres = allres + res['features']
    
    df = pd.DataFrame([x['properties'] for x in allres])
    df = df.rename(columns={'first': var})
    return(df)

In [10]:
dat = pd.read_csv(os.path.join('./data/processed/pre_weather','id_utc_20170428.csv'),dtype = {'yyyymmdd':str,'hour':str,'id':str})

In [11]:
todos = getFiles()

In [12]:
todos

['id_utc_20160921.csv',
 'id_utc_20160920.csv',
 'id_utc_20160919.csv',
 'id_utc_20160918.csv',
 'id_utc_20160917.csv',
 'id_utc_20160916.csv',
 'id_utc_20160915.csv',
 'id_utc_20160914.csv',
 'id_utc_20160913.csv',
 'id_utc_20160912.csv',
 'id_utc_20160911.csv',
 'id_utc_20160910.csv',
 'id_utc_20160909.csv',
 'id_utc_20160908.csv',
 'id_utc_20160907.csv',
 'id_utc_20160906.csv',
 'id_utc_20160905.csv',
 'id_utc_20160904.csv',
 'id_utc_20160903.csv',
 'id_utc_20160902.csv',
 'id_utc_20160901.csv',
 'id_utc_20160831.csv',
 'id_utc_20160830.csv',
 'id_utc_20160829.csv',
 'id_utc_20160828.csv',
 'id_utc_20160827.csv',
 'id_utc_20160826.csv',
 'id_utc_20160825.csv',
 'id_utc_20160824.csv',
 'id_utc_20160823.csv',
 'id_utc_20160822.csv',
 'id_utc_20160821.csv',
 'id_utc_20160820.csv',
 'id_utc_20160819.csv',
 'id_utc_20160818.csv',
 'id_utc_20160817.csv',
 'id_utc_20160816.csv',
 'id_utc_20160815.csv',
 'id_utc_20160814.csv',
 'id_utc_20160813.csv',
 'id_utc_20160812.csv',
 'id_utc_20160811.csv',
 'id_utc_20160810.csv',
 'id_utc_20160809.csv',
 'id_utc_20160808.csv',
 'id_utc_20160807.csv',
 'id_utc_20160806.csv',
 'id_utc_20160805.csv',
 'id_utc_20160804.csv',
 'id_utc_20160803.csv',
 'id_utc_20160802.csv',
 'id_utc_20160801.csv',
 'id_utc_20160731.csv',
 'id_utc_20160730.csv',
 'id_utc_20160729.csv',
 'id_utc_20160728.csv',
 'id_utc_20160727.csv',
 'id_utc_20160726.csv',
 'id_utc_20160725.csv',
 'id_utc_20160724.csv',
 'id_utc_20160723.csv',
 'id_utc_20160722.csv',
 'id_utc_20160721.csv',
 'id_utc_20160720.csv',
 'id_utc_20160719.csv',
 'id_utc_20160718.csv',
 'id_utc_20160717.csv',
 'id_utc_20160716.csv',
 'id_utc_20160715.csv',
 'id_utc_20160714.csv',
 'id_utc_20160713.csv',
 'id_utc_20160712.csv',
 'id_utc_20160711.csv',
 'id_utc_20160710.csv',
 'id_utc_20160709.csv',
 'id_utc_20160708.csv',
 'id_utc_20160707.csv',
 'id_utc_20160706.csv',
 'id_utc_20160705.csv',
 'id_utc_20160704.csv',
 'id_utc_20160703.csv',
 'id_utc_20160702.csv',
 'id_utc_20160701.csv',
 'id_utc_20160630.csv',
 'id_utc_20160629.csv',
 'id_utc_20160628.csv',
 'id_utc_20160627.csv',
 'id_utc_20160626.csv',
 'id_utc_20160625.csv',
 'id_utc_20160624.csv',
 'id_utc_20160623.csv',
 'id_utc_20160622.csv',
 'id_utc_20160621.csv',
 'id_utc_20160620.csv',
 'id_utc_20160619.csv',
 'id_utc_20160618.csv',
 'id_utc_20160617.csv',
 'id_utc_20160616.csv',
 'id_utc_20160615.csv',
 'id_utc_20160614.csv',
 'id_utc_20160613.csv',
 'id_utc_20160612.csv',
 'id_utc_20160611.csv',
 'id_utc_20160610.csv',
 'id_utc_20160609.csv',
 'id_utc_20160608.csv',
 'id_utc_20160607.csv',
 'id_utc_20160606.csv',
 'id_utc_20160605.csv',
 'id_utc_20160604.csv',
 'id_utc_20160603.csv',
 'id_utc_20160602.csv',
 'id_utc_20160601.csv',
 'id_utc_20160531.csv',
 'id_utc_20160530.csv',
 'id_utc_20160529.csv',
 'id_utc_20160528.csv',
 'id_utc_20160527.csv',
 'id_utc_20160526.csv',
 'id_utc_20160525.csv',
 'id_utc_20160524.csv',
 'id_utc_20160523.csv',
 'id_utc_20160522.csv',
 'id_utc_20160520.csv',
 'id_utc_20160519.csv',
 'id_utc_20160518.csv',
 'id_utc_20160517.csv',
 'id_utc_20160516.csv',
 'id_utc_20160515.csv',
 'id_utc_20160514.csv',
 'id_utc_20160513.csv',
 'id_utc_20160512.csv',
 'id_utc_20160511.csv',
 'id_utc_20160510.csv',
 'id_utc_20160509.csv',
 'id_utc_20160508.csv',
 'id_utc_20160507.csv',
 'id_utc_20160506.csv',
 'id_utc_20160505.csv',
 'id_utc_20160504.csv',
 'id_utc_20160503.csv',
 'id_utc_20160502.csv',
 'id_utc_20160501.csv',
 'id_utc_20160430.csv',
 'id_utc_20160429.csv',
 'id_utc_20160428.csv',
 'id_utc_20160427.csv',
 'id_utc_20160426.csv',
 'id_utc_20160425.csv',
 'id_utc_20160424.csv',
 'id_utc_20160423.csv',
 'id_utc_20160422.csv',
 'id_utc_20160421.csv',
 'id_utc_20160420.csv',
 'id_utc_20160419.csv',
 'id_utc_20160418.csv',
 'id_utc_20160417.csv',
 'id_utc_20160416.csv',
 'id_utc_20160415.csv',
 'id_utc_20160414.csv',
 'id_utc_20160413.csv',
 'id_utc_20160412.csv',
 'id_utc_20160411.csv',
 'id_utc_20160410.csv',
 'id_utc_20160409.csv',
 'id_utc_20160408.csv',
 'id_utc_20160407.csv',
 'id_utc_20160406.csv',
 'id_utc_20160405.csv',
 'id_utc_20160404.csv',
 'id_utc_20160403.csv',
 'id_utc_20160402.csv',
 'id_utc_20160401.csv',
 'id_utc_20160331.csv',
 'id_utc_20160330.csv',
 'id_utc_20160329.csv',
 'id_utc_20160328.csv',
 'id_utc_20160327.csv',
 'id_utc_20160326.csv',
 'id_utc_20160325.csv',
 'id_utc_20160324.csv',
 'id_utc_20160323.csv',
 'id_utc_20160322.csv',
 'id_utc_20160321.csv',
 'id_utc_20160320.csv',
 'id_utc_20160319.csv',
 'id_utc_20160318.csv',
 'id_utc_20160317.csv',
 'id_utc_20160316.csv',
 'id_utc_20160315.csv',
 'id_utc_20160314.csv',
 'id_utc_20160313.csv',
 'id_utc_20160312.csv',
 'id_utc_20160311.csv',
 'id_utc_20160310.csv',
 'id_utc_20160309.csv',
 'id_utc_20160308.csv',
 'id_utc_20160307.csv',
 'id_utc_20160306.csv',
 'id_utc_20160305.csv',
 'id_utc_20160304.csv',
 'id_utc_20160303.csv',
 'id_utc_20160302.csv',
 'id_utc_20160301.csv',
 'id_utc_20160229.csv',
 'id_utc_20160228.csv',
 'id_utc_20160227.csv',
 'id_utc_20160226.csv',
 'id_utc_20160225.csv',
 'id_utc_20160224.csv',
 'id_utc_20160223.csv',
 'id_utc_20160222.csv',
 'id_utc_20160221.csv',
 'id_utc_20160220.csv',
 'id_utc_20160219.csv',
 'id_utc_20160218.csv',
 'id_utc_20160217.csv',
 'id_utc_20160216.csv',
 'id_utc_20160215.csv',
 'id_utc_20160214.csv',
 'id_utc_20160213.csv',
 'id_utc_20160212.csv',
 'id_utc_20160211.csv',
 'id_utc_20160210.csv',
 'id_utc_20160209.csv',
 'id_utc_20160208.csv',
 'id_utc_20160207.csv',
 'id_utc_20160206.csv',
 'id_utc_20160205.csv',
 'id_utc_20160204.csv',
 'id_utc_20160203.csv',
 'id_utc_20160202.csv',
 'id_utc_20160201.csv',
 'id_utc_20160131.csv',
 'id_utc_20160130.csv',
 'id_utc_20160129.csv',
 'id_utc_20160128.csv',
 'id_utc_20160127.csv',
 'id_utc_20160126.csv',
 'id_utc_20160125.csv',
 'id_utc_20160124.csv',
 'id_utc_20160123.csv',
 'id_utc_20160122.csv',
 'id_utc_20160121.csv',
 'id_utc_20160120.csv',
 'id_utc_20160119.csv',
 'id_utc_20160118.csv',
 'id_utc_20160117.csv',
 'id_utc_20160116.csv',
 'id_utc_20160115.csv',
 'id_utc_20160114.csv',
 'id_utc_20160113.csv',
 'id_utc_20160112.csv',
 'id_utc_20160111.csv',
 'id_utc_20160110.csv',
 'id_utc_20160109.csv',
 'id_utc_20160108.csv',
 'id_utc_20160107.csv',
 'id_utc_20160106.csv',
 'id_utc_20160105.csv',
 'id_utc_20160104.csv',
 'id_utc_20160103.csv',
 'id_utc_20160102.csv',
 'id_utc_20160101.csv',
 'id_utc_20150708.csv',
 'id_utc_20150707.csv',
 'id_utc_20150706.csv',
 'id_utc_20150705.csv',
 'id_utc_20150704.csv',
 'id_utc_20150703.csv',
 'id_utc_20150702.csv',
 'id_utc_20150701.csv',
 'id_utc_20150630.csv',
 'id_utc_20150629.csv',
 'id_utc_20150628.csv',
 'id_utc_20150627.csv',
 'id_utc_20150626.csv',
 'id_utc_20150625.csv',
 'id_utc_20150624.csv',
 'id_utc_20150623.csv',
 'id_utc_20150622.csv',
 'id_utc_20150621.csv',
 'id_utc_20150620.csv',
 'id_utc_20150619.csv',
 'id_utc_20150618.csv',
 'id_utc_20150617.csv',
 'id_utc_20150616.csv',
 'id_utc_20150615.csv',
 'id_utc_20150614.csv',
 'id_utc_20150613.csv',
 'id_utc_20150612.csv',
 'id_utc_20150611.csv',
 'id_utc_20150610.csv',
 'id_utc_20150609.csv',
 'id_utc_20150608.csv',
 'id_utc_20150607.csv',
 'id_utc_20150606.csv',
 'id_utc_20150605.csv',
 'id_utc_20150604.csv',
 'id_utc_20150603.csv',
 'id_utc_20150602.csv',
 'id_utc_20150601.csv',
 'id_utc_20150531.csv',
 'id_utc_20150530.csv',
 'id_utc_20150529.csv',
 'id_utc_20150528.csv',
 'id_utc_20150527.csv',
 'id_utc_20150526.csv',
 'id_utc_20150525.csv',
 'id_utc_20150524.csv',
 'id_utc_20150523.csv',
 'id_utc_20150522.csv',
 'id_utc_20150521.csv',
 'id_utc_20150520.csv',
 'id_utc_20150519.csv',
 'id_utc_20150518.csv',
 'id_utc_20150517.csv',
 'id_utc_20150516.csv',
 'id_utc_20150515.csv',
 'id_utc_20150514.csv',
 'id_utc_20150513.csv',
 'id_utc_20150512.csv',
 'id_utc_20150511.csv',
 'id_utc_20150510.csv',
 'id_utc_20150509.csv',
 'id_utc_20150508.csv',
 'id_utc_20150507.csv',
 'id_utc_20150506.csv',
 'id_utc_20150505.csv',
 'id_utc_20150504.csv',
 'id_utc_20150503.csv',
 'id_utc_20150502.csv',
 'id_utc_20150501.csv',
 'id_utc_20150430.csv',
 'id_utc_20150429.csv',
 'id_utc_20150428.csv',
 'id_utc_20150427.csv',
 'id_utc_20150426.csv',
 'id_utc_20150425.csv',
 'id_utc_20150424.csv',
 'id_utc_20150423.csv',
 'id_utc_20150422.csv',
 'id_utc_20150421.csv',
 'id_utc_20150420.csv',
 'id_utc_20150419.csv',
 'id_utc_20150418.csv',
 'id_utc_20150417.csv',
 'id_utc_20150416.csv',
 'id_utc_20150415.csv',
 'id_utc_20150414.csv',
 'id_utc_20150413.csv',
 'id_utc_20150412.csv',
 'id_utc_20150411.csv',
 'id_utc_20150410.csv',
 'id_utc_20150409.csv',
 'id_utc_20150408.csv',
 'id_utc_20150407.csv',
 'id_utc_20150406.csv',
 'id_utc_20150405.csv',
 'id_utc_20150404.csv',
 'id_utc_20150403.csv',
 'id_utc_20150402.csv',
 'id_utc_20150401.csv',
 'id_utc_20150331.csv',
 'id_utc_20150330.csv',
 'id_utc_20150329.csv',
 'id_utc_20150328.csv',
 'id_utc_20150327.csv',
 'id_utc_20150326.csv',
 'id_utc_20150325.csv',
 'id_utc_20150324.csv',
 'id_utc_20150323.csv',
 'id_utc_20150322.csv',
 'id_utc_20150321.csv',
 'id_utc_20150320.csv',
 'id_utc_20150319.csv',
 'id_utc_20150318.csv',
 'id_utc_20150317.csv',
 'id_utc_20150316.csv',
 'id_utc_20150315.csv',
 'id_utc_20150314.csv',
 'id_utc_20150313.csv',
 'id_utc_20150312.csv',
 'id_utc_20150311.csv',
 'id_utc_20150310.csv',
 'id_utc_20150309.csv',
 'id_utc_20150308.csv',
 'id_utc_20150307.csv',
 'id_utc_20150306.csv',
 'id_utc_20150305.csv',
 'id_utc_20150304.csv',
 'id_utc_20150303.csv',
 'id_utc_20150302.csv',
 'id_utc_20150301.csv',
 'id_utc_20150228.csv',
 'id_utc_20150227.csv',
 'id_utc_20150226.csv',
 'id_utc_20150225.csv',
 'id_utc_20150224.csv',
 'id_utc_20150223.csv',
 'id_utc_20150222.csv',
 'id_utc_20150221.csv',
 'id_utc_20150220.csv',
 'id_utc_20150219.csv',
 'id_utc_20150218.csv',
 'id_utc_20150217.csv',
 'id_utc_20150216.csv',
 'id_utc_20150215.csv',
 'id_utc_20150214.csv',
 'id_utc_20150213.csv',
 'id_utc_20150212.csv',
 'id_utc_20150211.csv',
 'id_utc_20150210.csv',
 'id_utc_20150209.csv',
 'id_utc_20150208.csv',
 'id_utc_20150207.csv',
 'id_utc_20150206.csv',
 'id_utc_20150205.csv',
 'id_utc_20150204.csv',
 'id_utc_20150203.csv',
 'id_utc_20150202.csv',
 'id_utc_20150201.csv',
 'id_utc_20150131.csv',
 'id_utc_20150130.csv',
 'id_utc_20150129.csv',
 'id_utc_20150128.csv',
 'id_utc_20150127.csv',
 'id_utc_20150126.csv',
 'id_utc_20150125.csv',
 'id_utc_20150124.csv',
 'id_utc_20150123.csv',
 'id_utc_20150122.csv',
 'id_utc_20150121.csv',
 'id_utc_20150120.csv',
 'id_utc_20150119.csv',
 'id_utc_20150118.csv',
 'id_utc_20150117.csv',
 'id_utc_20150116.csv',
 'id_utc_20150115.csv',
 'id_utc_20150114.csv',
 'id_utc_20150113.csv',
 'id_utc_20150112.csv',
 'id_utc_20150111.csv',
 'id_utc_20150110.csv',
 'id_utc_20150109.csv',
 'id_utc_20150108.csv',
 'id_utc_20150107.csv',
 'id_utc_20150106.csv',
 'id_utc_20150105.csv',
 'id_utc_20150104.csv',
 'id_utc_20150103.csv',
 'id_utc_20150102.csv',
 'id_utc_20150101.csv',
 'id_utc_20141231.csv',
 'id_utc_20141230.csv',
 'id_utc_20141229.csv',
 'id_utc_20141228.csv',
 'id_utc_20141227.csv',
 'id_utc_20141226.csv',
 'id_utc_20141225.csv',
 'id_utc_20141224.csv',
 'id_utc_20141223.csv',
 'id_utc_20141222.csv',
 'id_utc_20141221.csv',
 'id_utc_20141220.csv',
 'id_utc_20141219.csv',
 'id_utc_20141218.csv',
 'id_utc_20141217.csv',
 'id_utc_20141216.csv',
 'id_utc_20141215.csv',
 'id_utc_20141214.csv',
 'id_utc_20141213.csv',
 'id_utc_20141212.csv',
 'id_utc_20141211.csv',
 'id_utc_20141210.csv',
 'id_utc_20141209.csv',
 'id_utc_20141208.csv',
 'id_utc_20141207.csv',
 'id_utc_20141206.csv',
 'id_utc_20141205.csv',
 'id_utc_20141204.csv',
 'id_utc_20141203.csv',
 'id_utc_20141202.csv',
 'id_utc_20141201.csv',
 'id_utc_20141130.csv',
 'id_utc_20141129.csv',
 'id_utc_20141128.csv',
 'id_utc_20141127.csv',
 'id_utc_20141126.csv',
 'id_utc_20141125.csv',
 'id_utc_20141124.csv',
 'id_utc_20141123.csv',
 'id_utc_20141122.csv',
 'id_utc_20141121.csv',
 'id_utc_20141120.csv',
 'id_utc_20141119.csv',
 'id_utc_20141118.csv',
 'id_utc_20141117.csv',
 'id_utc_20141116.csv',
 'id_utc_20141115.csv',
 'id_utc_20141114.csv',
 'id_utc_20141113.csv',
 'id_utc_20141112.csv',
 'id_utc_20141111.csv',
 'id_utc_20141110.csv',
 'id_utc_20141109.csv',
 'id_utc_20141108.csv',
 'id_utc_20141107.csv',
 'id_utc_20141106.csv',
 'id_utc_20141105.csv',
 'id_utc_20141104.csv',
 'id_utc_20141103.csv',
 'id_utc_20141102.csv',
 'id_utc_20141101.csv',
 'id_utc_20141031.csv',
 'id_utc_20141030.csv',
 'id_utc_20141029.csv',
 'id_utc_20141028.csv',
 'id_utc_20141027.csv',
 'id_utc_20141026.csv',
 'id_utc_20141025.csv',
 'id_utc_20141024.csv',
 'id_utc_20141023.csv',
 'id_utc_20141022.csv',
 'id_utc_20141021.csv',
 'id_utc_20141020.csv',
 'id_utc_20141019.csv',
 'id_utc_20141018.csv',
 'id_utc_20141017.csv',
 'id_utc_20141016.csv',
 'id_utc_20141015.csv',
 'id_utc_20141014.csv',
 'id_utc_20141013.csv',
 'id_utc_20141012.csv',
 'id_utc_20141011.csv',
 'id_utc_20141010.csv',
 'id_utc_20141009.csv',
 'id_utc_20141008.csv',
 'id_utc_20141007.csv',
 'id_utc_20141006.csv',
 'id_utc_20141005.csv',
 'id_utc_20141004.csv',
 'id_utc_20141003.csv',
 'id_utc_20141002.csv',
 'id_utc_20141001.csv',
 'id_utc_20140930.csv',
 'id_utc_20140929.csv',
 'id_utc_20140928.csv',
 'id_utc_20140927.csv',
 'id_utc_20140926.csv',
 'id_utc_20140925.csv',
 'id_utc_20140924.csv',
 'id_utc_20140923.csv',
 'id_utc_20140922.csv',
 'id_utc_20140921.csv',
 'id_utc_20140920.csv',
 'id_utc_20140919.csv',
 'id_utc_20140918.csv',
 'id_utc_20140917.csv',
 'id_utc_20140916.csv',
 'id_utc_20140915.csv',
 'id_utc_20140914.csv',
 'id_utc_20140913.csv',
 'id_utc_20140912.csv',
 'id_utc_20140911.csv',
 'id_utc_20140910.csv',
 'id_utc_20140909.csv',
 'id_utc_20140908.csv',
 'id_utc_20140907.csv',
 'id_utc_20140906.csv',
 'id_utc_20140905.csv',
 'id_utc_20140904.csv',
 'id_utc_20140903.csv',
 'id_utc_20140902.csv',
 'id_utc_20140901.csv',
 'id_utc_20140831.csv',
 'id_utc_20140830.csv',
 'id_utc_20140829.csv',
 'id_utc_20140828.csv',
 'id_utc_20140827.csv',
 'id_utc_20140826.csv',
 'id_utc_20140825.csv',
 'id_utc_20140824.csv',
 'id_utc_20140823.csv',
 'id_utc_20140822.csv',
 'id_utc_20140821.csv',
 'id_utc_20140820.csv',
 'id_utc_20140819.csv',
 'id_utc_20140818.csv',
 'id_utc_20140817.csv',
 'id_utc_20140816.csv',
 'id_utc_20140815.csv',
 'id_utc_20140814.csv',
 'id_utc_20140813.csv',
 'id_utc_20140812.csv',
 'id_utc_20140811.csv',
 'id_utc_20140810.csv',
 'id_utc_20140809.csv',
 'id_utc_20140808.csv',
 'id_utc_20140807.csv',
 'id_utc_20140806.csv',
 'id_utc_20140805.csv',
 'id_utc_20140804.csv',
 'id_utc_20140803.csv',
 'id_utc_20140802.csv',
 'id_utc_20140801.csv',
 'id_utc_20140731.csv',
 'id_utc_20140730.csv',
 'id_utc_20140729.csv',
 'id_utc_20140728.csv',
 'id_utc_20140727.csv',
 'id_utc_20140726.csv',
 'id_utc_20140725.csv',
 'id_utc_20140724.csv',
 'id_utc_20140723.csv',
 'id_utc_20140722.csv',
 'id_utc_20140721.csv',
 'id_utc_20140720.csv',
 'id_utc_20140719.csv',
 'id_utc_20140718.csv',
 'id_utc_20140717.csv',
 'id_utc_20140716.csv',
 'id_utc_20140715.csv',
 'id_utc_20140714.csv',
 'id_utc_20140713.csv',
 'id_utc_20140712.csv',
 'id_utc_20140711.csv',
 'id_utc_20140710.csv',
 'id_utc_20140709.csv',
 'id_utc_20140708.csv',
 'id_utc_20140707.csv',
 'id_utc_20140706.csv',
 'id_utc_20140705.csv',
 'id_utc_20140704.csv',
 'id_utc_20140703.csv',
 'id_utc_20140702.csv',
 'id_utc_20140701.csv',
 'id_utc_20140630.csv',
 'id_utc_20140629.csv',
 'id_utc_20140628.csv',
 'id_utc_20140627.csv',
 'id_utc_20140626.csv',
 'id_utc_20140625.csv',
 'id_utc_20140624.csv',
 'id_utc_20140623.csv',
 'id_utc_20140622.csv',
 'id_utc_20140621.csv',
 'id_utc_20140620.csv',
 'id_utc_20140619.csv',
 'id_utc_20140618.csv',
 'id_utc_20140617.csv',
 'id_utc_20140616.csv',
 'id_utc_20140615.csv',
 'id_utc_20140614.csv',
 'id_utc_20140613.csv',
 'id_utc_20140612.csv',
 'id_utc_20140611.csv',
 'id_utc_20140610.csv',
 'id_utc_20140609.csv',
 'id_utc_20140608.csv',
 'id_utc_20140607.csv',
 'id_utc_20140606.csv',
 'id_utc_20140605.csv',
 'id_utc_20140604.csv',
 'id_utc_20140603.csv',
 'id_utc_20140602.csv',
 'id_utc_20140601.csv',
 'id_utc_20140531.csv',
 'id_utc_20140530.csv',
 'id_utc_20140529.csv',
 'id_utc_20140528.csv',
 'id_utc_20140527.csv',
 'id_utc_20140526.csv',
 'id_utc_20140525.csv',
 'id_utc_20140524.csv',
 'id_utc_20140523.csv',
 'id_utc_20140522.csv',
 'id_utc_20140521.csv',
 'id_utc_20140520.csv',
 'id_utc_20140519.csv',
 'id_utc_20140518.csv',
 'id_utc_20140517.csv',
 'id_utc_20140516.csv',
 'id_utc_20140515.csv',
 'id_utc_20140514.csv',
 'id_utc_20140513.csv',
 'id_utc_20140512.csv',
 'id_utc_20140511.csv',
 'id_utc_20140510.csv',
 'id_utc_20140509.csv',
 'id_utc_20140508.csv',
 'id_utc_20140507.csv',
 'id_utc_20140506.csv',
 'id_utc_20140505.csv',
 'id_utc_20140504.csv',
 'id_utc_20140503.csv',
 'id_utc_20140502.csv',
 'id_utc_20140501.csv',
 'id_utc_20140430.csv',
 'id_utc_20140429.csv',
 'id_utc_20140428.csv',
 'id_utc_20140427.csv',
 'id_utc_20140426.csv',
 'id_utc_20140425.csv',
 'id_utc_20140424.csv',
 'id_utc_20140423.csv',
 'id_utc_20140422.csv',
 'id_utc_20140421.csv',
 'id_utc_20140420.csv',
 'id_utc_20140419.csv',
 'id_utc_20140418.csv',
 'id_utc_20140417.csv',
 'id_utc_20140416.csv',
 'id_utc_20140415.csv',
 'id_utc_20140414.csv',
 'id_utc_20140413.csv',
 'id_utc_20140412.csv',
 'id_utc_20140411.csv',
 'id_utc_20140410.csv',
 'id_utc_20140409.csv',
 'id_utc_20140408.csv',
 'id_utc_20140407.csv',
 'id_utc_20140406.csv',
 'id_utc_20140405.csv',
 'id_utc_20140404.csv',
 'id_utc_20140403.csv',
 'id_utc_20140402.csv',
 'id_utc_20140401.csv',
 'id_utc_20140331.csv',
 'id_utc_20140330.csv',
 'id_utc_20140329.csv',
 'id_utc_20140328.csv',
 'id_utc_20140327.csv',
 'id_utc_20140326.csv',
 'id_utc_20140325.csv',
 'id_utc_20140324.csv',
 'id_utc_20140323.csv',
 'id_utc_20140322.csv',
 'id_utc_20140321.csv',
 'id_utc_20140320.csv',
 'id_utc_20140319.csv',
 'id_utc_20140318.csv',
 'id_utc_20140317.csv',
 'id_utc_20140316.csv',
 'id_utc_20140315.csv',
 'id_utc_20140314.csv',
 'id_utc_20140313.csv',
 'id_utc_20140312.csv',
 'id_utc_20140311.csv',
 'id_utc_20140310.csv',
 'id_utc_20140309.csv',
 'id_utc_20140308.csv',
 'id_utc_20140307.csv',
 'id_utc_20140306.csv',
 'id_utc_20140305.csv',
 'id_utc_20140304.csv',
 'id_utc_20140303.csv',
 'id_utc_20140302.csv',
 'id_utc_20140301.csv',
 'id_utc_20140228.csv',
 'id_utc_20140227.csv',
 'id_utc_20140226.csv',
 'id_utc_20140225.csv',
 'id_utc_20140224.csv',
 'id_utc_20140223.csv',
 'id_utc_20140222.csv',
 'id_utc_20140221.csv',
 'id_utc_20140220.csv',
 'id_utc_20140219.csv',
 'id_utc_20140218.csv',
 'id_utc_20140217.csv',
 'id_utc_20140216.csv',
 'id_utc_20140215.csv',
 'id_utc_20140214.csv',
 'id_utc_20140213.csv',
 'id_utc_20140212.csv',
 'id_utc_20140211.csv',
 'id_utc_20140210.csv',
 'id_utc_20140209.csv',
 'id_utc_20140208.csv',
 'id_utc_20140207.csv',
 'id_utc_20140206.csv',
 'id_utc_20140205.csv',
 'id_utc_20140204.csv',
 'id_utc_20140203.csv',
 'id_utc_20140202.csv',
 'id_utc_20140201.csv',
 'id_utc_20140131.csv',
 'id_utc_20140130.csv',
 'id_utc_20140129.csv',
 'id_utc_20140128.csv',
 'id_utc_20140127.csv',
 'id_utc_20140126.csv',
 'id_utc_20140125.csv',
 'id_utc_20140124.csv',
 'id_utc_20140123.csv',
 'id_utc_20140122.csv',
 'id_utc_20140121.csv',
 'id_utc_20140120.csv',
 'id_utc_20140119.csv',
 'id_utc_20140118.csv',
 'id_utc_20140117.csv',
 'id_utc_20140116.csv',
 'id_utc_20140115.csv',
 'id_utc_20140114.csv',
 'id_utc_20140113.csv',
 'id_utc_20140112.csv',
 'id_utc_20140111.csv',
 'id_utc_20140110.csv',
 'id_utc_20140109.csv',
 'id_utc_20140108.csv',
 'id_utc_20140107.csv',
 'id_utc_20140106.csv',
 'id_utc_20140105.csv',
 'id_utc_20140104.csv',
 'id_utc_20140103.csv',
 'id_utc_20140102.csv',
 'id_utc_20140101.csv',
 'id_utc_20130604.csv',
 'id_utc_20130603.csv',
 'id_utc_20130602.csv',
 'id_utc_20130601.csv',
 'id_utc_20130531.csv',
 'id_utc_20130530.csv',
 'id_utc_20130529.csv',
 'id_utc_20130528.csv',
 'id_utc_20130527.csv',
 'id_utc_20130526.csv',
 'id_utc_20130525.csv',
 'id_utc_20130524.csv',
 'id_utc_20130523.csv',
 'id_utc_20130522.csv',
 'id_utc_20130521.csv',

In [13]:
f = todos[0] #id_utc_20160921.csv

In [59]:
dat = pd.read_csv(os.path.join(input_folder,f),dtype = {'yyyymmdd':str,'hour':str,'id':str})

In [60]:
dat

,id,tweet_created_at_int,lat,lon,yyyymmdd,hour
0,778684579775336400,1474487845000,36.747800,-119.772000,20160921,19
1,778684579775336400,1474487845000,36.747800,-119.772000,20160921,19
2,778729035245301800,1474498444000,36.747800,-119.772000,20160921,22
3,778582867760844800,1474463595000,42.325422,-83.051687,20160921,13
4,778688899711328300,1474488875000,42.330570,-83.048553,20160921,20
...,...,...,...,...,...,...
17169,778741475441909800,1474501410000,40.669308,-73.715026,20160921,23
17170,778742360532332500,1474501621000,43.222190,-88.004265,20160921,23
17171,778743253650649100,1474501834000,42.565870,-71.746990,20160921,23
17172,778743467484655600,1474501885000,41.650270,-83.567550,20160921,23
17173,778744390365777900,1474502105000,39.208090,-76.728660,20160921,23

In [61]:
daydat = pd.DataFrame()

In [62]:
hour = dat.hour.unique().tolist()[0]

In [63]:
sel = dat[dat.hour == hour] 
img = ee.Image('NASA/NLDAS/FORA0125_H002/A' + f[7:11] + f[11:13] + f[13:15] + '_' + hour.zfill(2) + '00')
temp = img.select('temperature')
speh = img.select('specific_humidity')
pres = img.select('pressure')
prcp = img.select('total_precipitation')
srad = img.select('shortwave_radiation')
lrad = img.select('longwave_radiation')
wndu = img.select('wind_u')
wndv = img.select('wind_v')

In [64]:
sel

,id,tweet_created_at_int,lat,lon,yyyymmdd,hour
0,778684579775336400,1474487845000,36.747800,-119.772000,20160921,19
1,778684579775336400,1474487845000,36.747800,-119.772000,20160921,19
5,778678845989802000,1474486478000,42.349257,-71.067844,20160921,19
6,778678845989802000,1474486478000,42.349257,-71.067844,20160921,19
49,778671426123419600,1474484709000,29.760427,-95.369803,20160921,19
...,...,...,...,...,...,...
17119,778683468158951400,1474487580000,25.728268,-80.433307,20160921,19
17120,778683543585030100,1474487598000,35.097401,-106.660915,20160921,19
17121,778683543585030100,1474487598000,35.097401,-106.660915,20160921,19
17122,778684223066550300,1474487760000,28.091667,-82.382500,20160921,19
17123,778684223066550300,1474487760000,28.091667,-82.382500,20160921,19

In [65]:
feats = []
for i,v in sel.iterrows():
    lon = v['lon']
    lat = v['lat']
    pt = ee.Geometry.Point(lon, lat)
    feat = ee.Feature(pt, {'tweet_created_at_int': v['tweet_created_at_int'], 'id': str(v['id'])})
    feats.append(feat)

In [73]:
for var, img in [('temp',temp),
                 ('speh',speh),
                 ('pres',pres),
                 ('prcp',prcp),
                 ('srad',srad),
                 ('lrad',lrad),
                 ('wndu',wndu),
                 ('wndv',wndv)
                ]:
    sel.loc[:,var] = getDataValues(feats, img, var)

res = sel[['id','tweet_created_at_int','temp',
       'speh', 'pres', 'prcp', 'srad', 'lrad', 'wndu', 'wndv']]

/gpfs/data1/oshangp/liuz/gs7_gpd/lib/python3.7/site-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [77]:
res

,id,tweet_created_at_int,temp,speh,pres,prcp,srad,lrad,wndu,wndv
0,778684579775336400,1474487845000,31.97,0.004299,100284.10,0.0000,683.537,397.53,2.03,-0.90
1,778684579775336400,1474487845000,31.97,0.004299,100284.10,0.0000,683.537,397.53,2.03,-0.90
5,778678845989802000,1474486478000,28.33,0.007667,101914.18,0.0000,571.345,354.72,1.89,-3.07
6,778678845989802000,1474486478000,28.33,0.007667,101914.18,0.0000,571.345,354.72,1.89,-3.07
49,778671426123419600,1474484709000,32.77,0.018288,101315.14,0.0000,886.065,437.89,-3.13,1.27
...,...,...,...,...,...,...,...,...,...,...
17119,778683468158951400,1474487580000,30.48,0.017591,101521.86,0.3292,727.057,439.22,-0.37,0.81
17120,778683543585030100,1474487598000,30.08,0.006991,84959.94,0.0000,787.921,383.43,0.22,1.11
17121,778683543585030100,1474487598000,30.08,0.006991,84959.94,0.0000,787.921,383.43,0.22,1.11
17122,778684223066550300,1474487760000,32.07,0.017130,101319.62,0.0476,586.641,456.94,0.50,-0.94
17123,778684223066550300,1474487760000,32.07,0.017130,101319.62,0.0476,586.641,456.94,0.50,-0.94

In [25]:
temp_res = getData(feats, temp, 'temp')
speh_res = getData(feats, speh, 'speh')
pres_res = getData(feats, pres, 'pres')
prcp_res = getData(feats, prcp, 'prcp')
srad_res = getData(feats, srad, 'srad')
lrad_res = getData(feats, lrad, 'lrad')
wndu_res = getData(feats, wndu, 'wndu')
wndv_res = getData(feats, wndv, 'wndv')

In [42]:
sel

,id,tweet_created_at_int,lat,lon,yyyymmdd,hour
0,778684579775336400,1474487845000,36.747800,-119.772000,20160921,19
1,778684579775336400,1474487845000,36.747800,-119.772000,20160921,19
5,778678845989802000,1474486478000,42.349257,-71.067844,20160921,19
6,778678845989802000,1474486478000,42.349257,-71.067844,20160921,19
49,778671426123419600,1474484709000,29.760427,-95.369803,20160921,19
...,...,...,...,...,...,...
17119,778683468158951400,1474487580000,25.728268,-80.433307,20160921,19
17120,778683543585030100,1474487598000,35.097401,-106.660915,20160921,19
17121,778683543585030100,1474487598000,35.097401,-106.660915,20160921,19
17122,778684223066550300,1474487760000,28.091667,-82.382500,20160921,19
17123,778684223066550300,1474487760000,28.091667,-82.382500,20160921,19

In [68]:
sel['temp'] = getDataSeries(feats, temp, 'temp')

0       31.97
1       31.97
2       28.33
3       28.33
4       32.77
        ...
2829    30.48
2830    30.08
2831    30.08
2832    32.07
2833    32.07
Name: first, Length: 2834, dtype: float64

                      id  tweet_created_at_int
0     778684579775336400         1474487845000
1     778684579775336400         1474487845000
2     778678845989802000         1474486478000
3     778678845989802000         1474486478000
4     778671426123419600         1474484709000
...                  ...                   ...
2829  778683468158951400         1474487580000
2830  778683543585030100         1474487598000
2831  778683543585030100         1474487598000
2832  778684223066550300         1474487760000
2833  778684223066550300         1474487760000

[2834 rows x 2 columns]

In [53]:
temp_res[['id','tweet_created_at_int']]

                      id  tweet_created_at_int
0     778684579775336400         1474487845000
1     778684579775336400         1474487845000
2     778678845989802000         1474486478000
3     778678845989802000         1474486478000
4     778671426123419600         1474484709000
...                  ...                   ...
2829  778683468158951400         1474487580000
2830  778683543585030100         1474487598000
2831  778683543585030100         1474487598000
2832  778684223066550300         1474487760000
2833  778684223066550300         1474487760000

[2834 rows x 2 columns]

In [52]:
sel[['id','tweet_created_at_int']].reset_index(drop=True)

                      id  tweet_created_at_int
0     778684579775336400         1474487845000
1     778684579775336400         1474487845000
2     778678845989802000         1474486478000
3     778678845989802000         1474486478000
4     778671426123419600         1474484709000
...                  ...                   ...
2829  778683468158951400         1474487580000
2830  778683543585030100         1474487598000
2831  778683543585030100         1474487598000
2832  778684223066550300         1474487760000
2833  778684223066550300         1474487760000

[2834 rows x 2 columns]

In [57]:
temp_res[['id','tweet_created_at_int']].dtypes

id                      object
tweet_created_at_int     int64
dtype: object

In [58]:
sel[['id','tweet_created_at_int']].reset_index(drop=True).dtypes

id                      int64
tweet_created_at_int    int64
dtype: object

In [55]:
temp_res[['id','tweet_created_at_int']].compare(sel[['id','tweet_created_at_int']].reset_index(drop=True))

                      id
                    self               other
0     778684579775336400  778684579775336448
1     778684579775336400  778684579775336448
2     778678845989802000  778678845989801984
3     778678845989802000  778678845989801984
4     778671426123419600  778671426123419648
...                  ...                 ...
2829  778683468158951400  778683468158951424
2830  778683543585030100  778683543585030144
2831  778683543585030100  778683543585030144
2832  778684223066550300  778684223066550272
2833  778684223066550300  778684223066550272

[2834 rows x 2 columns]

In [36]:
res = reduce(lambda x, y: pd.merge(x, y, on=['tweet_created_at_int', 'id']), 
                [temp_res, speh_res, pres_res, prcp_res, srad_res, lrad_res, wndu_res, wndv_res])

KeyboardInterrupt:

In [27]:
for f in todos:  
    print(datetime.now(), f)
    
    dat = pd.read_csv(os.path.join(input_folder,f),dtype = {'yyyymmdd':str,'hour':str})
    
    print(dat.shape[0])
    if dat.shape[0] == 0:
        with open(os.path.join(output_folder,f), 'w') as file:
            pass
        print("Skipping " + f)
        continue
    
    daydat = pd.DataFrame()
    for hour in dat.hour.unique().tolist():
        sel = dat[dat.hour == hour] 
        img = ee.Image('NASA/NLDAS/FORA0125_H002/A' + f[7:11] + f[11:13] + f[13:15] + '_' + hour.zfill(2) + '00')
        temp = img.select('temperature')
        speh = img.select('specific_humidity')
        pres = img.select('pressure')
        prcp = img.select('total_precipitation')
        srad = img.select('shortwave_radiation')
        lrad = img.select('longwave_radiation')
        wndu = img.select('wind_u')
        wndv = img.select('wind_v')
         
        feats = []
        for i,v in sel.iterrows():
            lon = v['lon']
            lat = v['lat']
            pt = ee.Geometry.Point(lon, lat)
            feat = ee.Feature(pt, {'tweet_created_at_int': v['tweet_created_at_int'], 'id': str(v['id'])})
            feats.append(feat)
         
        temp_res = getData(feats, temp, 'temp')
        speh_res = getData(feats, speh, 'speh')
        pres_res = getData(feats, pres, 'pres')
        prcp_res = getData(feats, prcp, 'prcp')
        srad_res = getData(feats, srad, 'srad')
        lrad_res = getData(feats, lrad, 'lrad')
        wndu_res = getData(feats, wndu, 'wndu')
        wndv_res = getData(feats, wndv, 'wndv')
        
        res = reduce(lambda x, y: pd.merge(x, y, on=['tweet_created_at_int', 'id']), 
                [temp_res, speh_res, pres_res, prcp_res, srad_res, lrad_res, wndu_res, wndv_res])
        daydat = pd.concat([daydat, res])
        print(daydat.shape)
    daydat.to_csv(os.path.join(output_folder,f), index=False)
    sleeptime.sleep(10)

2024-03-18 01:11:25.682133 id_utc_20160921.csv
17174

KeyboardInterrupt: